{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}

    <div class="columns is-centered">
        <div class="column is-6">
            <form action="{{ form_action_url }}"
                  method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-content has-text-centered">
                        <p class="title has-text-weight-light">Are you sure you want to void
                            Fund Transfer {{ fund_transfer.fund_transfer_number }}?</p>
                    </div>
                    <div class="card-content has-text-centered">
                        <button type="submit" class="button is-warning">{% trans 'Void' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}